[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
ndeflib = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
"9d8586d" = {path = "./dist/PSCodec-0.0.4.tar.gz"}

[dev-packages]

[requires]
python_version = "3.6"
