[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
ndeflib = "*"
pylint = "*"
pytest = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.6"
